<!DOCTYPE html>
<html lang="{{ site.lang | default: " ko-KR" }}">

<head>
  {% seo %}
  {% include head.html %}
</head>

<body>
  <header>
    {% include header.html %}
  </header>

  <div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
        <a onclick="window.history.back()">뒤로가기</a>
        <script>
          document.write("<img data-action=\"zoom\" src=\"assets/images/" + getParameterByName("image") + "\">")
        </script>

        {% include footer.html %}
      </section>
    </div>
  </div>
</body>

</html>